data/webcontent/*
data/tokens/*
resources/upload/*
widgets/care-theme/*
-premire
coucou
papa
lol
test
*.code-workspace
z-*
souvenirs
qui-sommesnous-
o-nous-trouver-
calendar
affiches
activits
-actualits