.mdc-top-app-bar, .mdc-top-app-bar__row, .mdc-top-app-bar__section--align-start {
    height: 56px;
}

.mdc-top-app-bar__section--align-start {
    padding-top: 0;
    padding-bottom: 0;
}

.mdc-top-app-bar {
    background-color: rgb(8, 8, 8);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

#menubar-logo {
    border-radius: 999px;
    position: relative;
    width: 36px;
    height: 36px;
    background-color: rgb(46, 46, 46);
    background-image: url("/resources/upload/siteicon.png");
    background-size: 100%;
}

#menubar-home-link {
    display: inherit;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.mdc-top-app-bar__title {
    max-width: 256px;
}