@import url("/resources/css/polymer/dark.css");

:root {
    --mdc-theme-primary: #cc9595;
    --mdc-theme-secondary: #93c9c9;
    --mdc-theme-background: #694646;
    --mdc-theme-surface: #cc9595;
    --mdc-theme-on-surface: white;
    --mdc-theme-on-primary: white;
    --mdc-theme-on-secondary: white;

    --cms-extra-superdark: #300000;
}
