@import url("/resources/css/polymer/dark.css");

:root {
    --mdc-theme-primary: #acacac;
    --mdc-theme-secondary: #c9c9c9;
    --mdc-theme-background: #acacac;
    --mdc-theme-surface: #acacac;
    --mdc-theme-on-surface: white;
    --mdc-theme-on-primary: white;
    --mdc-theme-on-secondary: black;

    --cms-extra-superdark: #2b2b2b;
}