* {
    font-family: CMS, Arial, Calibri, Ubuntu, Roboto, Liberation Sans, Helvetica, sans-serif;
}

.background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.19+0,0.75+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}

#gradient {
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.errorb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(155, 0, 0);
    color: white;
    text-align: center;
    padding: 5px;
}

.warningb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(155, 70, 0);
    color: white;
    text-align: center;
    padding: 5px;
}

.infob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 98, 155);
    color: white;
    text-align: center;
    padding: 5px;
}

.hide {
    display: none;
}

.fullbox {
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgb(74, 183, 255);
    padding: 40px;
    font-size: 18px;
    padding-top: 109px;
}

.fbheader {
    z-index: 999;
    top: 0;
    padding: 20px;
    left: 0;
    right: 0;
    position: fixed;
    background: rgb(28, 164, 255);
    font-size: 24px;
}

body#ui {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}

#clock {
    color: white;
    bottom: 0;
    right: 0;
    position: fixed;
    float: right;
    padding: 50px 100px;
}

#clock-time {
    font-size: 48px;
}

#clock-date {
    float: right;
    font-size: 22px;
}

#info {
    color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    float: left;
    padding: 50px;
}

#icon {
    width: 36px;
    height: 36px;
    filter: invert(100%);
    vertical-align: middle;
    margin-right: 10px;
}

.marquee {
    top: calc(100% - 65px);
    bottom: 5px;
    font-size: 22px;
    position: fixed;
    color: white;
    width: max-content;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#message-placeholder {
    max-width: 40%;
    border-radius: 10px;
    background: rgba(19, 19, 19, 0.75);
    box-shadow: 1px 1px 12px black;
    padding: 20px;
    color: white;
}

#message-title {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 5px;
}

#message-text {
    font-size: 22px;
}

#loader {
    background: rgb(26, 26, 26);
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}

.o0-before {
    opacity: 1;
    transition: opacity 500ms;
}

.o0-after {
    opacity: 0;
    transition: opacity 500ms;
}