#navigation {
    background: #151515;
    border-bottom-color: #4a4a4a;
    color: white;
}

#navigation > .sblink {
    color: white;
}

#settings, #settings-home {
    background: #4f4f4f;
    color: white;
    height: 100%;
}

.ck.ck-content {
    background: #4a4a4a !important;
}

.ck.ck-toolbar {
    background: #2d2c2c;
}

button:not(.ck-disabled):hover {
    background: #595959 !important;
}

.sblink, .sblink:hover {
    color: white !important;
    text-decoration-color: white !important;
}

.setting {
    color: white;
}

.setting:hover {
    background-color: rgb(42, 42, 42);
}

#login {
    background-color: black;
    color: white;
}

.pushbar {
    background: #262626;
    color: white;
}

.pushbar > * {
    color: white;
}

.menu-link {
    color: white;
}

.menu-link:hover {
    color: rgb(177, 177, 177);
}

img[src='/resources/image/suru_contact_address.png'], img[src='/resources/image/suru_contact_email.png'], img[src='/resources/image/suru_contact_phone.png'], img[src='/resources/image/suru_contact_priority.png'], img[src='/resources/image/contact_address.svg'], img[src='/resources/image/contact_email.svg'], img[src='/resources/image/contact_phone.svg'], img[src='/resources/image/contact_priority.svg'], img[src='/resources/image/close.svg'] {
    filter: invert(100%);
}

div[data-pushbar-id="panel-sidebar"] > img#sidebar-close {
    filter: invert(100%);
}

#page-content {
    background: #4f4f4f;
    color: white;
}

#sidebar-separator {
    border-bottom-color: white;
}

body {
    min-height: 100%;
    position: absolute;
    min-width: 100%;
    background: #4f4f4f;
}

html {
    min-height: 100%;
}

#visits {
    z-index: 9999;
}

.rmenulink:hover {
    background-color: rgb(42, 42, 42) !important;
}

.rmenulink:active {
    background-color: rgb(27, 27, 27) !important;
}

.rmenulink {
    color: white !important;
}

.rmenuimg {
    filter: invert(100%);
}

.show {
    background: #3b3b3b !important;
}

#logs {
    background: #131313;
    border-color: #000;
}

[id^=ck-editor__aria-label], .ck.ck-button__label, .ck-button__label, .ck.ck-button {
    color: white;
}

.message_img {
    filter: invert(75%) brightness(175%);
}

.message_info, .message_error, .message_warning {
    color: white;
}

.message_black {
    color: black;
}

.message_black > tbody > tr > td > .message_img {
    filter: none;
}