* {
    font-family: CMS, Arial, Calibri, Ubuntu, Roboto, Liberation Sans, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: auto;
}

#siteadmin {
    background: black;
    color: white;
    padding: 4px 32px;
    font-size: 10px;
    height: 12px;
}

#siteadmin-button {
    float: right;
    cursor: pointer;
    background: transparent;
    transition: background 100ms;
    margin: -4px;
    padding: 4px;
    padding-bottom: 0;
    color: white;
    text-decoration: none;
}

#siteadmin-button:hover {
    background: rgb(41, 41, 41);
}

.sab {
    cursor: pointer;
    background: transparent;
    transition: background 100ms;
    margin: -4px;
    padding: 4px;
    padding-bottom: 3px;
    color: white;
    text-decoration: none;
}

.sab:hover {
    background: rgb(41, 41, 41);
}

#siteadmin-img {
    filter: invert(100%);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#banner {
    padding: 40px 50px;
    background-position: center;
    background-size: 100%;
    padding-top: 60px;
}

#banner-menu {
    padding: 20px 50px;
    background-position: center;
    background-size: 100%;
}

@media (max-width: 500px) {
    .branding-mobile {
        display: initial;
    }
    .branding-desktop {
        display: none;
    }
    #banner {
        padding: 20px 25px;
        padding-top: 81px;
    }
    .menubar-link-text {
        display: none;
    }
    #banner-logo {
        width: 36px !important;
        height: 36px !important;
    }
}

@media (min-width: 500px) {
    .branding-mobile {
        display: none;
    }
    .branding-desktop {
        display: initial;
    }
}

#banner-name {
    font-weight: lighter;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

#banner-menu-name {
    font-weight: lighter;
    font-size: 14px;
    color: white;
    margin-top: 15px;
}

.banner-black {
    color: black !important;
}

#banner-logo {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-right: 20px;
    border-radius: 999px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#banner-menu-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 20px;
    border-radius: 999px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#always-on-top {
    position: fixed;
    width: 100%;
}

#menubar {
    padding: 10px 20px;
    background: rgb(66, 66, 66);
    box-shadow: 1px 10px 12px rgba(0, 0, 0, .5);
}

.menubar-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menubar-img {
    filter: invert(100%);
    vertical-align: middle;
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

#menubar-link-tools {
    float: right;
}

#menubar-close {
    filter: invert(100%);
    top: 0;
    position: fixed;
    cursor: pointer;
    right: 0;
    padding: 5px;
}

#sidebar-close {
    top: 0;
    position: fixed;
    cursor: pointer;
    left: 0;
    padding: 5px;
}

#sidebar-title {
    top: 7.5px;
    position: fixed;
    right: 30%;
    font-weight: bold;
}

#sidebar-separator {
    margin-top: 7.5px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: fixed;
    top: 25px;
    width: 100%;
}

#sidebar-widgets {
    top: 32px;
    position: relative;
}

.menu-link {
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px;
    color: black;
}

.menu-link:hover {
    color: rgb(77, 77, 77);
}

.pushbar {
    overflow-x: hidden;
}

#page-content {
    padding: 8px;
    background: white;
}

#page-content h1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a4a4a4;
}

#page-content h2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a4a4a4;
}

#page-placeholder, body {
    background: rgb(66, 66, 66);
}

#page-footer {
    color: white;
    padding: 20px;
}

#widget-space {
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
}

#widget-space h1, #widget-space h2, #widget-space h3, #widget-space h4, #widget-space h5, #widget-space h6 {
    margin-top: 0;
}

#galery_thumbnails {
    margin: 0% 15%;
}

.photo {
    width: 30%;
    margin: 10px;
    background: #c8c8c8;
    padding: 15px 5px;
    box-shadow: #c8c8c8 1px 1px 12px;
    display: inline-block;
    border-radius: 7.5px;
    border: #716f6f 1px solid;
}

.photo_image {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 90%;
    filter: blur(5px);
    transition: filter 200ms;
    border-radius: 5px;
}

.photo_image.loaded {
    filter: none !important;
}

@media (max-width: 500px) {
    .menubar-mobile {
        display: initial;
    }
    .menulink-desktop {
        display: none;
    }
    .menubar-desktop {
        display: none;
    }
}

@media (min-width: 500px) {
    .menubar-mobile {
        display: none;
    }
    .menulink-desktop {
        display: initial;
    }
    .menubar-desktop {
        display: initial;
    }
}

.menulink-desktop {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: -10px 0;
    transition: background 200ms;
    text-decoration: none;
}

.menulink-desktop:hover {
    background: #626262;
}

.menulink-desktop:active {
    background: #1d1d1d;
}

.pushbar_overlay {
    background: #2f2f2f;
}

.pushbar.opened {
    box-shadow: 1px 1px 12px gray;
    z-index: 999999999 !important;
}

.menubar-link {
    margin: -10px;
    padding: 10px;
    padding-bottom: 8px;
    transition: background 200ms;
}

.menubar-link:hover {
    background: #626262;
}

.menubar-link:active {
    background: #1d1d1d;
}

.message_img {
    width: 36px;
    height: 36px;
    z-index: -1;
}

.message_info {
    background: rgba(116, 227, 255, 0.31);
    margin: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: -2;
}

.message_error {
    background: rgba(255, 117, 117, 0.31);
    margin: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: -2;
    color: white;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    border-left: 5px solid #ccc;
    padding: 0px 1.5em;
    font-style: italic;
}

blockquote p {
    margin: 0;
    padding: 16px 0px;
}

a:not([class]), a[class=""] {
    color: inherit;
}

a:not([class]):hover, a[class=""]:hover {
    text-decoration: none;
}

a:not([class]):not([id]):active, a[class=""][id=""]:active {
    text-decoration: none;
    opacity: 75%;
}

.photo_label {
    color: black;
    padding: 10px 0;
    display: block;
    margin-bottom: -15px;
}

.sticky {
    position: fixed;
    top: 20px;
    width: 97%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky ~ #page-placeholder {
    padding-top: 39px;
    /* padding-top: 191px; */
}

#always-on-top, #menubar {
    z-index: 99999999;
}

@media (min-width: 700px) {
    #sidebar {
        height: calc(100% - 152px) !important;
        position: absolute;
        right: 0;
        background: rgb(66, 66, 66);
        top: 152px;
        overflow-y: hidden;
        width: 256px !important;
        max-width: initial !important;
        transform: initial !important;
        color: white !important;
    }
    #menubar {
        z-index: initial;
    }
    #sidebar-widgets {
        top: initial !important;
        padding-top: 30px;
        display: block;
    }
    #sidebar-separator, #sidebar-title, #sidebar-close {
        opacity: 0;
        cursor: default;
    }
    #menubar-link-tools {
        display: none;
    }
    #page-placeholder {
        margin-right: 256px;
    }
}

.hint {
    text-decoration: dotted underline;
    cursor: help;
}

#sidebar-widgets img {
    filter: invert(100%);
}