@import "/resources/css/fonts-import.css";

* {
    font-family: CMS, Arial, Calibri, Ubuntu, Roboto, Liberation Sans, Helvetica, sans-serif;
}

img {
    filter: invert(100%);
    top: 5px;
    left: 5px;
    margin: 5px;
    width: 36px;
    cursor: pointer;
}

.loaded {
    filter: none !important;
}

.ppreview {
    filter: blur(10px);
    transition: filter 200ms;
}

.download {
    position: fixed;
    bottom: 10px;
    background: rgb(51, 51, 51);
    padding: 5px 10px;
    left: 10px;
    border-radius: 999px;
    opacity: .5;
    cursor: pointer;
    transition: opacity 200ms;
    color: initial;
    text-decoration: none;
    color: white;
    padding-left: 29px;
    background-image: url("/resources/image/getimage.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2.5px;
}

.download:hover {
    opacity: .75;
    box-shadow: 1px 1px 2px rgb(51, 51, 51);
}

.download:active {
    opacity: 1;
    box-shadow: 1px 1px 2px rgb(51, 51, 51);
}