.hide {
    display: none;
}

.show {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid #5b5b5b;
    padding: 5px 0;
    display: block;
    box-shadow: 1px 1px 12px #5b5b5b;
    border-radius: 5px;
}

.rmenulink {
    padding: 5px;
    color: black;
    font-size: 12px;
    text-decoration: none;
    transition: background 200ms;
    display: block;
    cursor: pointer;
}

.rmenulink:hover {
    background: #999;
}

.rmenulink:active {
    background: rgb(102, 102, 102);
}

.pushbar.opened {
    z-index: 999;
}

.rmenusep {
    margin: 5px;
    border-width: 1px;
    border-bottom-style: none;
}

.rmenuimg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}